<div class="card d-flex p-3">
  <h5 class="text-center my-2 fs-4 fw-bold my-4">Auction for Today</h5>
  <table class="table-card mx-3">
    <tbody>
      <tr *ngFor="let auction of finalArray">
      <div class="view-all my-2">
        <div class="align-items-center">
          <div class="row">
              <div class="col border d-flex flex-column justify-content-center align-items-center py-3 rounded-3 shadow-sm auction">
                <h6><strong>{{ auction.id }}</strong></h6>
                <p class="m-0">Time: {{ auction.time }}</p>
              </div>
          </div>
        </div>
      </div>
      </tr>
    </tbody>
  </table>
  <button class="btn align-self-center view-btn mt-3" *ngIf="dataFromParent" (click)="fullAuction()">View More Chits</button>
</div>