<div class="container-fluid d-flex flex-column">

  <div class="row mt-3 pl-2">
    <div [ngClass]="{'col-md-8 col-lg-8': subscriberDetail, 'col-md-12 col-lg-12': !subscriberDetail}">
      <!-- <div class="header"> -->
      <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
      <button class="btn btn-primary create" *ngIf="canCreate" routerLink="create">Create subscriber</button>
      <!-- </div> -->
      <div class="row mt-2 mb-3">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="line p-1 pb-2 text-center">
            <div class="card-body">
              <h5 class="card-title">Total Subscribers</h5>
              <p class="card-text mt-3">{{totalCount}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-2  col-sm-12 col-lg-4 ml-2">
          <div class="line  p-1 pb-2 text-center">
            <div class="card-body">
              <h5 class="card-title">Subscribers With Multiple Enrollments</h5>
              <p class="card-text">{{count}}</p>
            </div>
          </div>
        </div>
      </div>
      <app-ag-grid [columns]="column" [rowData]="data" width="100%" height="450px" [searchImg]="searchImg"
        [filterImg]="filterImg" [search]="search" [filter]="filter"></app-ag-grid>
    </div>
    <!-- [pageSize]="3" -->
    <div class="col-md-4 col-lg-4">
      <div *ngIf="subscriberDetail">
        <div class="card details">
          <div class="title align-self-center py-2">Subscriber Details</div>
          <img src="{{subscriberDetail.Subscriber.profileImageUrl}}" class="rounded-circle  align-self-center mb-2"
            width="75" height="75" alt="Subscriber Image">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Subscriber ID:</strong></td>
                <td (click)="navigate(subscriberDetail.Subscriber._id)" *ngIf="canView" style="color: #50A1A5">
                  {{subscriberDetail.Subscriber.subscriberId}}</td>
              </tr>
              <tr>
                <td><strong>First Name</strong></td>
                <td>{{subscriberDetail.Subscriber.firstName}}</td>
              </tr>
              <tr>
                <td><strong>Last Name:</strong></td>
                <td>{{subscriberDetail.Subscriber.lastName}}</td>
              </tr>
              <tr>
                <td><strong>Contact No:</strong></td>
                <td>{{subscriberDetail.Subscriber.contact}}</td>
              </tr>
              <tr>
                <td><strong>Address/Place:</strong></td>
                <td>{{subscriberDetail.Subscriber.place}}</td>
              </tr>
              <tr>
                <td><strong>Occupation:</strong></td>
                <td>{{subscriberDetail.Subscriber.occupation}}</td>
              </tr>
              <tr *ngIf="subscriberDetail.Subscriber.referralClient">
                <td><strong>Referral Client:</strong></td>
                <td>{{subscriberDetail.Subscriber.referralClient}}</td>
              </tr>
              <tr>
                <td><strong>Enrollments:</strong></td>
                <td>{{this.chitGroup}}</td>
              </tr>
              <tr>
                <td><strong>Region/Route:</strong></td>
                <td>{{subscriberDetail.Subscriber.routeId}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center mb-3">
            <button (click)="navigate(subscriberDetail.Subscriber._id)" *ngIf="canView" class="btn  view">View More
              Details</button>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>