<div class="container-fluid d-flex flex-column">

    <div class="row">     
    <div class="col-md-8 col-lg-8">
        <!-- <div class="row mt-2"> -->
            <!-- <div class="col-md-6"> -->
                <div class="header mt-2">Subscriber Management
                    <button class="btn btn-primary create" routerLink="create">create subscriber</button>

                </div>
            <!-- </div> -->
            <!-- <div class="col-md-6"> -->
            <!-- </div> -->
        <!-- </div> -->
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4">
          <div class="line text-center mb-4">
            <div class="card-body">
              <h5 class="card-title mb-3">Total Subscribers</h5>
              <p class="card-text">2500</p>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-lg-4 ml-2">
          <div class="line text-center mb-4">
            <div class="card-body">
              <h5 class="card-title">Subscribers With Multiple Enrollments</h5>
              <p class="card-text">500</p>
            </div>
          </div>  
        </div>
      </div>
      <app-ag-grid [columns]="columns" [rowData]="rowData"   width="700px" height="280px"></app-ag-grid>
    </div>
    <div class="col-md-4 col-lg-4">
    <div class="card details">
    <div class="title align-self-center py-2">Subscriber Details</div>
    <img src="assets/subscriber/men.svg" class="rounded-circle  align-self-center mb-2" width="75" height="75" alt="Subscriber Image">
    <table class="table">
        <tbody>
          <tr>
            <td><strong>Subscriber ID:</strong></td>
            <td><a href="#">KNG-C10001</a></td>
          </tr>
          <tr>
            <td><strong>First Name:</strong></td>
            <td>John</td>
          </tr>
          <tr>
            <td><strong>Last Name:</strong></td>
            <td>Doe</td>
          </tr>
          <tr>
            <td><strong>Contact No:</strong></td>
            <td>9876543210</td>
          </tr>
          <tr>
            <td><strong>Address/Place:</strong></td>
            <td>JP Nagar</td>
          </tr>
          <tr>
            <td><strong>Occupation:</strong></td>
            <td>Engineer</td>
          </tr>
          <tr>
            <td><strong>Referral Client:</strong></td>
            <td>Shiva</td>
          </tr>
          <tr>
            <td><strong>Enrollments:</strong></td>
            <td>2</td>
          </tr>
          <tr>
            <td><strong>Region/Route:</strong></td>
            <td>Coimbatore</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mb-3">
        <button class="btn  view">View More Details</button>
    </div>
  <!-- </div> -->
</div>
    </div>
  </div>
</div>
