<div class="container-fluid">
    <div class="row">
        <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
        <div [ngClass]="{'col-md-9 col-lg-9': isSubscriberListVisible, 'col-md-12 col-lg-12': !isSubscriberListVisible}">
            <form  [formGroup]="chitGroupForm">
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="datetime" class="form-control-label">Auction Date</label>
                            <input type="date" class="form-control p-2 form-control-sm mt-2" id="datetime" formControlName="datetime" placeholder="Date"/>
                        </div>
                    </div>                   
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="chitAmount" class="form-control-label">Chit Amount</label>
                            <input class="form-control p-2 form-control-sm mt-2" id="chitAmount" formControlName="chitAmount" placeholder="Chit Amount"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="foremanCommission" class="form-control-label">Foreman Commission</label>
                            <input class="form-control p-2 form-control-sm mt-2" id="foremanCommission" formControlName="foremanCommission" placeholder="Foreman Commission"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="monthlyInstall" class="form-control-label ">Monthly Installment</label>
                            <input class="form-control p-2 form-control-sm mt-2" id="monthlyInstall" formControlName="monthlyInstall" placeholder="Monthly Installment"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start ">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-around align-items-center">
                            <button class="btn btn-upload border border-secondary py-1">Document Upload</button>
                            <span class="doc-name">document.pdf</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="row justify-content-start">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-around align-items-center">
                            <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;" />
                            <button class="btn btn-upload border border-secondary py-1" (click)="triggerFileInput()">Document Upload</button>
                            <span class="doc-name">{{ uploadedFileName }}</span>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-end py-3">
                       <button type="button" class="btn next-btn px-4 py-3 fw-bold"(click)="showSubscriberList('chit')">Add Subscribers</button>
                    </div>
                </div>
            </form>
            <app-ag-grid [columns]="column" [rowData]="chitSubscribersData" width="100%" height="300px"></app-ag-grid>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end py-3">
                    <button type="button" class="btn next-btn px-4 py-3 fw-bold" (click)="showSubscriberList('additional')">Add Additional Subscribers</button>
                </div>
            </div>
            <app-ag-grid [columns]="addSubcolumn" [rowData]="addChitSubscribersData" width="100%" height="300px"></app-ag-grid>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end py-3">
                    <button type="button" class="btn next-btn px-4 py-3 fw-bold" (click)="onSubmit()">Create Group</button>
                </div>
            </div> 
        </div>
        <div class="col-lg-3 " *ngIf="isSubscriberListVisible">
            <div class="card details p-3">
            <h5 class="text-center my-2">Add Subscribers</h5>
                <div class="search-bar align-self-center mb-3">
                  <span class="search-icon"><img src="assets/subscriber/search-icon.svg"></span>
                  <input width="20" height="20" type="text" class="border-0" placeholder="Search" (input)="applyFilter($event.target.value)">
                </div>
                <table class="subscriber-table">
                  <tbody>
                    <tr *ngFor="let subscriber of displayedSubscribers" >
                   <div class="card view-all mb-2">
                    <div class="card-body align-self-center">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <img class="profile-list-img" src="{{subscriber.subscriberProfile}}"> 
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <!-- <b>{{ subscriber.subscriberId }}</b> -->
                                <p class="fs-6 fw-bold m-0">{{ subscriber.subscriberId }}</p>
                                {{ subscriber.subscriberName }}
                                </div>
                            <div class="col-lg-4 col-md-4">
                                <button  class="viewbtn align-left" (click)="onButtonClick(subscriber.id)">View Details</button>
                            </div>
                        </div>
                    </div>
                   </div>
                    </tr>
                  </tbody>
                </table>
              
              <div class="subscriber-details">
                <div *ngIf="subscriberDetail">
                    <h5 class="title  text-center my-4">Subscriber Details</h5>
                    <div class="text-center">
                        <img src="{{subscriberDetail.Subscriber.profileImageUrl}}" class="img-fluid" alt="Subscriber Image">
                    </div>
                    <table class="table px-3">
                        <tbody>
                          <tr>
                            <td><strong>Subscriber ID </strong></td>
                            <td class="highlight">{{subscriberDetail.Subscriber.subscriberId }}</td>
                          </tr>
                          <tr>
                            <td><strong>Alias Name </strong></td>
                            <td>{{subscriberDetail.Subscriber.aliasName}} </td>
                          </tr>
                          <tr>
                            <td><strong>First Name </strong></td>
                            <td>{{subscriberDetail.Subscriber.firstName}} </td>
                          </tr>
                          <tr>
                            <td><strong>Last Name </strong></td>
                            <td>{{ subscriberDetail.Subscriber.lastName }}</td>
                          </tr>
                          <tr>
                            <td><strong>Contact No </strong></td>
                            <td>{{ subscriberDetail.Subscriber.contact }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center mb-2">
                        <button class="btn clear-btn" (click)="addSelectedSubscriber(subscriberDetail.Subscriber._id)">Add to Group</button>
                    </div>
           
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
