.items {
  background-color: white;
  padding: 15px;
  /* margin: 15px; */
}

/* .fixed-breadcrumb{
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1000;
} */

.nav-item {
  color: black;
  /* Change color to black */
  cursor: pointer;
  margin-right: 15px;
}

.nav-item .nav-link {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
}

.nav-item.active .nav-link {
  border-bottom: 2px solid #3E3A97;
  /* Underline when active */
}

.nav-item:hover .nav-link {
  color: #555;
  /* Slight color change on hover */
}

.form-group {
  margin-bottom: 1rem;
}

.form-control-label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control-sm {
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: rgb(230, 230, 230);
  color: #495057;
}

.form-control-sm[readonly] {
  opacity: 1;
}

input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.row {
  margin-top: 1rem;
}

.col-lg-4 {
  padding: 0 15px;
}

.btn {
  background-color: #3E3A97;
  color: white;
  border-radius: 3px;
}

.nxt-btn {
  background-color: white;
  color: #3E3A97;
  border: 1px solid #3E3A97;
}

/* In your styles.css or auction.component.css */
.highlighted-row {
  background-color: lightgreen !important;
}

.green-background {
  background-color: green !important;
}

/* .pink-background{
  background-color: pink !important;

} */
.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}

.man {
  background-color: white;
}

.close {
  border: none;
  background-color: white;
  float: right;
}

.auction {
  background-color: #eef6f6;
}

.view-btn {
  color: #3E3A97;
  background-color: #FFFFFF;
  border-color: #3E3A97;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ECEBF5;
  border: none;
  padding: 5px;

}


.search-bar input {
  /* border: none;*/
  outline: none;
  background-color: #ECEBF5;
  padding: 3px;
  flex-grow: 1;
  height: 20px;
  width: 80%;
}

.auction-details-container {
  max-width: 350px;
  margin: auto;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3E3A97;
  font-size: 12px;
}

.card strong {
  font-size: 1.2rem;
  color: #333;
}

.modal-dialog {
  margin: 5% auto;
  /* max-width: 80%; */
}

.reg-id-row {
  color: rgb(54, 183, 54);
  /* Green for regId */
}

.pur-id-row {
  color: red;
  /* Blue for purId */
}

.extra-id-row {
  color: orange;
  /* Blue for purId */
}

.profit-id-row {
  color: rgb(54, 183, 54);
  ;
}

.tkn-id-row {
  color: rgb(54, 183, 54);
  ;
}

/* Table Styles */
.subscriber-table {
  width: 100%;
  margin: 20px 0;
  /* Spacing around the table */
  /* border: 1px; */
  border: 1px solid #ddd;
}

/* Table Heading Styles */
.subscriber-table th {
  background-color: #EEF6F6;
  /* Green background for header */
  color: black;
  /* White text color */
  padding: 15px;
  /* Padding for cells */
  font-size: 14px;
  text-align: left;
  /* Left-align text */
}

/* Table Data Cell Styles */
.subscriber-table td {
  font-size: 15px;
  border-bottom: 1px solid #e3e4e6;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 2px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.dot {
  height: 10px;
  margin-top: 7px;
  margin-left: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: 5% auto;
  /* max-width: 80%; */
}

.required {
  color: red;
}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.form-control.ng-invalid.ng-touched {
  border-color: red;
}
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* Profile Placeholder Styles */
.profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff; /* Blue color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-initial {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #007bff; /* Blue background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ccc;
}
