.line {
  border-left: 4px solid #3E3A97;
  padding: 20px;

  flex: auto;
  /* width: 200px; */
  text-align: center;
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.create {
  background-color: #3E3A97;
  border: none;
}

.overlap-images div {
  position: relative;
  display: inline-block;
  margin-left: -20px;
  /* Adjust this value for more or less overlap */
}

.overlap-images img {
  border: 2px solid #ffffff;
  /* Optional: Add a white border around images */
  z-index: 1;
  position: relative;
}

.overlap-images div:first-child {
  margin-left: 0;
  /* Ensure the first image is not moved */
}

.red-card {
  border: 1px solid #F04438;
  background-color: #FEECEB;
  color: #F04438;
  flex: auto;
  height: 120px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  padding: 5px;
  width: 300px;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
}

.table tbody tr td {
  vertical-align: middle;
  /* white-space: nowrap; */
  /* padding-bottom: 20px; */
}

.table tbody tr td a {
  color: #50A1A5;
}

/* strong {
  padding-left: 20px;
} */

a {
  text-decoration: none;
}

.search-bar input {
  /* border: none;*/
  outline: none;
  background-color: white;
  padding: 3px;
  flex-grow: 1;
  height: 20px;
  /* width:%; */
}

.table-group {
  border-left: 4px solid #50a1a5;
  flex: auto;
  height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.auc-btn {
  background-color: #3E3A97;
  color: #FFFFFF;
  height: 40px;
}

.view-btn {
  color: #3E3A97;
  background-color: #FFFFFF;
  border-color: #3E3A97;
  height: 40px;
}

.next-btn {
  background-color: #3E3A97;
  color: #FFFFFF;
}

.profile-initial {
  display: inline-block;
  width: 40px;
  /* Adjust size as needed */
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #007bff;
  /* Background color for the circle */
  color: white;
  /* Text color */
  font-weight: bold;
}
.auction{
  background-color: #eef6f6;
}
.view-btn{
  color: #3E3A97;
  background-color: #FFFFFF;
  border-color: #3E3A97;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-initial {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #007bff; /* Blue background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ccc;
}

.highlight-red {
  color: #dc3545;
}
