
.line{
  border-left: 4px solid #3E3A97;

  flex: auto;
  /* width: 200px; */
  height:100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.create{
  background-color: #3E3A97;
  border: none;
  }
.red-card{
    border:1px solid #F04438;
    background-color: #FEECEB;
    color:#F04438;
    flex: auto;
    height:100px;
}
.next-btn{
  background-color: #3E3A97;
  color:#FFFFFF;
  font-size: small;
  }

.table{
  border-left: 4px solid #50a1a5;
  flex: auto;
  height:70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}


.view-btn{
  color: #3E3A97;
  background-color: #FFFFFF;
  border-color: #3E3A97;
  font-size: small;
}