<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-between py-3">
          <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
          <button class="btn next-btn px-4 py-3 fw-bold" routerLink="create" *ngIf="canCreate">Create New Group</button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Total Chit Count</h6>
            <p class="m-0 fw-bold fs-4">{{total}}</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Aggregate Wallet Balance</h6>
            <p class="m-0 fw-bold fs-4">{{formatToRupee(totalWalletBalance)}}</p>
          </div>
        </div>
        <div class="col-3 ">
          <div class="red-card d-flex flex-column justify-content-center align-items-center rounded">
            <h6>Total TKN A/C</h6>
            <p class="m-0 fw-bold fs-4">{{formatToRupee(tknAmount)}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="row my-3">
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>No.of Subscribers in more than 1 group</h6>
            <p class="m-0 fw-bold fs-4">{{count}}</p>
          </div>
        </div>
      </div> -->
      <div class="container p-0 mt-3" *ngIf="chitdata">
        <div class="search-bar align-self-center mb-3">
          <span class="search-icon"><img src="assets/table/search.svg"></span>
          <input width="20" height="20" type="text" class="border-0" placeholder="Search"
            (input)="applyFilter($event.target.value)">
        </div>
        <div
          *ngFor="let group of displayedChit | slice:(currentPage - 1) * itemsPerPage:(currentPage) * itemsPerPage; let i = index"
          class="mb-1">
          <div class="table-group my-2 px-3 d-flex justify-content-between align-items-center rounded-end"
            (click)="handleChitGropDetails(group._id, i)">
            <div>
              <span class="fw-bold fs-5">{{ group.chitGroupId }}</span>
            </div>
            <div *ngIf="group?.chitSubscribers?.length < 20" style="color: red;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                  d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
              </svg>

            </div>
            <div class="d-flex overlap-images">
              <div *ngFor="let subscriber of group.addChitSubscribers">
                <img [src]="subscriber.profileImageUrl" class="rounded-circle" [alt]="subscriber.initials" width="50"
                  height="50">
              </div>
              <div class="fw-bold ms-2">+{{ group.chitSubscribers.length}}</div>
            </div>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div class="d-flex justify-content-center align-items-center mt-3">
          <button class="btn next-btn " (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <span class="px-4">Page {{ currentPage }} of {{ totalPages }}</span>
          <button class="btn next-btn " (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <!-- <app-auction-sidebar></app-auction-sidebar> -->
      <div class="chit-details" *ngIf="showChitDetails">
        <div class="card d-flex py-4 mt-2">
          <h5 class="title text-center fw-bold fs-4 m-0">{{specificChitData?.chitGroupId}}</h5>

          <!-- Table with equal width columns -->
          <div class="table-responsive">
            <table class="table mt-2 w-100">
              <tbody>
                <tr>
                  <td class="py-3" style="width: 50%;"><strong>Group ID</strong></td>
                  <td style="width: 50%; font-size: 14px;"><a href="">{{specificChitData?.chitGroupId}}</a></td>
                </tr>
                <tr>
                  <!-- <td class="py-3" style="width: 50%;"><strong>Auction Completion Count</strong></td> -->
                  <td class="py-3" style="width: 50%;"><strong>Auction Completion</strong> <br><strong>Count</strong>
                  </td>
                  <td class="text-center" style="width: 50%;">{{auctionCycle}}</td>
                </tr>
                <tr>
                  <!-- <td class="py-3" style="width: 50%;"><strong>Prized Subscriber Count</strong></td> -->
                  <td class="py-3" style="width: 50%;"><strong>Prized Subscriber</strong> <br><strong>Count</strong>
                  </td>
                  <td class="text-center" style="width: 50%;">{{subCount}}</td>
                </tr>
                <tr>
                  <td class="py-3" style="width: 50%;"><strong>Wallet Balance</strong></td>
                  <td class="text-center" style="width: 50%;">{{formatToRupee(chitSubscriberTotal)}}</td>
                </tr>
                <tr>
                  <td class="py-3" style="width: 50%;"><strong>Latest Winning Bid</strong></td>
                  <td class="text-center" style="width: 50%;">{{formatToRupee(latestWinningBid)}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="mb-2">
            <div class="d-flex justify-content-center">
              <div class="me-1">
                <button class="btn view-btn" (click)="navigate(specificChitData?._id)">View More Details</button>
              </div>
              <div class="ms-1">
                <button type="button" class="btn auc-btn fw-bold"
                  *ngIf="canCreate&&specificChitData?.chitSubscribers?.length >= 20" (click)="auctionEntry(specificChitData?._id)"
                  [disabled]="">Auction Entry</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>