<div class="container-fluid d-flex flex-column">
  <div class="row">     
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-between py-3">
            <div>Chit Management</div>
            <button class="btn next-btn px-4 py-3 fw-bold" routerLink="create">Create New Group</button>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Total Chit Count</h6>
            <p class="m-0 fw-bold fs-4">{{total}}</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Total Redeemable Amount</h6>
            <p class="m-0 fw-bold fs-4">700000</p>
          </div>
        </div>
        <div class="col-3 ">
          <div class="red-card d-flex flex-column justify-content-center align-items-center rounded">
            <h6>Total TKN A/C</h6>
            <p class="m-0 fw-bold fs-4">250000</p>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Aggregate Wallet Balance</h6>
            <p class="m-0 fw-bold fs-4">250000</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Extra Payouts</h6>
            <p class="m-0 fw-bold fs-4">7500</p>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>No.of Subscribers in more than 1 group</h6>
            <p class="m-0 fw-bold fs-4">30</p>
          </div>
        </div>
        <div class="col-4 ">
          <div class="line d-flex flex-column justify-content-center align-items-center rounded-end">
            <h6>Phantom Payouts</h6>
            <p class="m-0 fw-bold fs-4">7500</p>
          </div>
        </div>
      </div>
      <!-- <button class="btn next-btn px-4 py-3 fw-bold" routerLink="view">Chit View Page</button> -->
      <!-- <div *ngFor="let group of groups" class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="fw-bold">{{group.groupTitle}}</span>
          <span class="badge bg-secondary rounded-pill">{{group.subscribersCount}} +</span>
        </div>
        <div class="card-body">
          <div class="d-flex gap-2">
            <span class="badge bg-primary" *ngFor="let member of group.members">{{member}}</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="container mt-4">
        <div *ngFor="let group of groups" class="card mb-3">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="fw-bold">{{group.groupTitle}}</span>
            <span class="badge bg-secondary rounded-pill">{{group.subscribersCount}} +</span>
          </div>
          <div class="card-body">
            <div class="d-flex flex-wrap gap-2">
              <span class="badge bg-primary p-2" *ngFor="let member of group.members">{{member}}</span>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container p-0 mt-3">
        <div *ngFor="let chit of displayedChits" class="mb-1">
          <div class="table py-4 px-3 d-flex justify-content-between align-items-center cursor-pointer rounded-end" (click)="handleChitGropDetails()">
            <div>
              <span class="fw-bold fs-5">{{chit.id}}</span>
            </div>
            <div class="d-flex align-items-center">
              <div class="d-flex flex-wrap">
                <!-- Loop through members of the current chit -->
                <!-- <span *ngFor="let member of chit.members" class="rounded-circle" 
                      style="background-color: {{getColor(member)}}; color: white; 
                      padding-left: 15px; width: 40px; height: 40px;"
                      >
                  {{member.subProfile}}
                </span> -->
                
              </div>
              <span class="ms-2">+{{chit.subsTotal}}</span>
            </div>
          </div>
        </div>
        
      </div>
    </div> 
    <div class="col-lg-3">
      <app-auction-sidebar [dataFromParent]="showChitDetails" (dataToParent)="recieveChildBoolean($event)"></app-auction-sidebar>
      <div class="chit-details" *ngIf="showChitDetails">
        <div class="card p-3 mt-2">
            <h5 class="title text-center fw-bold fs-4">Chit Group 1</h5>
            <table class="table-chit px-3">
                <tbody>
                  <tr>
                    <td><strong>Group ID </strong></td>
                    <!-- <td><a href="#">{{subscriberDetail.Subscriber.subscriberId }}</a></td> -->
                    <td>GC-JAN24-1X-100</td>
                  </tr>
                  <tr>
                    <td><strong>Auction Completion Count </strong></td>
                    <!-- <td>{{subscriberDetail.Subscriber.aliasName}} </td> -->
                    <td>24</td>
                  </tr>
                  <tr>
                    <td><strong>Prized Subscriber Count</strong></td>
                    <!-- <td>{{subscriberDetail.Subscriber.firstName}} </td> -->
                    <td>2</td>
                  </tr>
                  <tr>
                    <td><strong>Wallet Balance</strong></td>
                    <!-- <td>{{ subscriberDetail.Subscriber.lastName }}</td> -->
                    <td>150000</td>
                  </tr>
                  <tr>
                    <td><strong>Additional Wallet Balance</strong></td>
                    <!-- <td>{{ subscriberDetail.Subscriber.contact }}</td> -->
                    <td>20000</td>
                  </tr>
                  <tr>
                    <td><strong>Redeemabale Balance</strong></td>
                    <!-- <td>{{ subscriberDetail.Subscriber.contact }}</td> -->
                    <td>56000</td>
                  </tr>
                  <tr>
                    <td><strong>Phantom Entry Amount</strong></td>
                    <!-- <td>{{ subscriberDetail.Subscriber.contact }}</td> -->
                    <td>45000</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-center mb-2">
                <!-- <button class="btn clear-btn"  (click)="addToGroup(subscriberDetail.Subscriber._id)">Add to Group</button> -->
                 <div class="row">
                  <div class="col-7 p-0">
                    <button class="btn view-btn" routerLink="view">View More Details</button>
                  </div>
                 <div class="col-5 p-0">
                  <button class="btn next-btn fw-bold">Auction Entry</button>
                  </div>  
                </div>                
            </div>   
        </div>
      </div>
    </div>  
  </div> 
</div>
