<div class="card d-flex p-3">
  <h5 class="text-center my-3">Staffs</h5>
  <table class="table-card mx-3">
    <h6>Total Staffs : {{total}}</h6>
    <tbody>
      <tr *ngFor="let staff of displayedStaff">
        <div class="view-all my-2">
          <div class="align-items-center">
            <div class="row" (click)="getSub(staff.id)">
              <div class="col-4 text-center">
                <img class="rounded-circle  align-self-center mb-2" width="40" height="40" src="{{staff.staffProfile}}">
              </div>
              <div class="col-8 text">
                <h6><strong>{{ staff.staffName}}</strong></h6>
                <p>{{ staff.staffId }}</p>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
  <button *ngIf="!showAll" class="btn align-self-center  view" (click)="viewMore()">View More</button>
</div>