<div class="container-fluid">
    <img src="\assets\login\login logo.svg" alt=""  class="img-fluid logo">
    <div class="row d-flex justify-content-center align-items-center" >
        
          <div class="col-lg-5 d-flex justify-content-start"  >
            <img src="../../../assets/login/reset.svg" alt="" class="img-fluid  clipart">
         </div>
         
         <div class="col-lg-7 d-flex justify-content-center">
          <div class=" d-flex flex-column gap-4  card col-lg-8">
              <div class="card-body">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="col-lg-12 col-md-12  d-flex flex-column px-4">
              <div class="mb-3 pl-0 sign-in-label">Reset Password</div>
              <div class="mb-3 pl-0 sign-in-text">Please Reset your New Password</div>
              <div class="instructions">
                <h3>Instructions</h3>
                <ul>
                  <li>Password must contain a combination of upper and lower case.</li>
                  <li>Password must contain a minimum of 8 characters.</li>
                  <li>Password must contain at least one special character.</li>
                  <li>Password must contain at least one number.</li>
                </ul>
              </div>
                <div class="mb-3 form-group">
                <label for="password" class="form-control-label">New Password</label>
                <div class=" input-fields  d-flex align-items-center"
                [ngClass]="{'is-invalid': newPasswordControl.touched && newPasswordControl.hasError('required') || !passwordsMatch}">
                    <input [type]=" isPasswordVisible ? 'text': 'password'" class="form-control" id="password"
                    placeholder="Enter your new password"
                     required
                     formControlName="newPassword">
                    <img src="\assets\login\Eye.svg" class="img-fluid mx-1"
                     [ngClass]="{' eyebtn-opacity': isPwdEmpty}" *ngIf="!isPasswordVisible"
                     (click)="togglePasswordVisibility()" height="20px" width="20px" >
                      <img src="\assets\login\Invisible.svg" class="img-fluid mx-1"
                      *ngIf="isPasswordVisible"(click)="togglePasswordVisibility()" height="20px" width="20px" >
                </div>
                <div class="invalid-feedback  col-9">
                  <span  *ngIf="newPasswordControl.touched && newPasswordControl.hasError('required')" >
                    new Password is required
                  </span>
                  <span  *ngIf="newPasswordControl.touched && newPasswordControl.hasError('pattern')">
                    <div>New password should be 8 characters, mix of letters, numbers, and specials.</div>
                  </span>
                </div>
                </div>

                <div class="mb-3 form-group">
                  <label for="confirmPassword" class="form-control-label">Confirm Password</label>
                      <div class="input-fields  d-flex align-items-center"
                      [ngClass]="{'is-invalid': confirmPasswordControl.touched && confirmPasswordControl.hasError('required')  || !passwordsMatch}">
                          <input [type]=" isConfirmPwdVisible ? 'text': 'password'" class="form-control form-control-sm" id="confirmPassword"
                          placeholder="Enter your new password"
                           required
                           formControlName="confirmPassword"
                          [(ngModel)]="confirmPassword">
                          <img src="\assets\login\Eye.svg" class="img-fluid mx-1"
                  [ngClass]="{' eyebtn-opacity': isConfirmPwdEmpty}" *ngIf="!isConfirmPwdVisible"
                  (click)="toggleconfirmPasswordVisibility()" height="20px" width="20px" >
                  <img src="\assets\login\Invisible.svg" class="img-fluid mx-1"
                  *ngIf="isConfirmPwdVisible" (click)="toggleconfirmPasswordVisibility()" height="20px" width="20px" >
                      </div>
                      <div class="invalid-feedback col-9">
                        <span  *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')">
                          Confirm Password is required
                        </span>
                        <span *ngIf="!passwordsMatch && !confirmPasswordControl.hasError('required')">
                          Password doesn't match
                        </span>
                        <!-- <span  *ngIf="sameAsOldPassword" >
                          Password Should not be a old password
                        </span> -->
                        <span  *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('pattern')">
                        <div>Conform password should 8, mix of letters, numbers, and specials.</div>
                        </span>
                      </div>

                </div>


              <button type="submit" [disabled]="!resetForm.valid" class="btn btn-primary align-items-center col-lg-12 col-md-12 mb-3">Reset Password</button>
            </form>
          </div>
         </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  