<div class="container-fluid">
  <img src="\assets\login\login logo.svg" alt="" class="img-fluid logo">
  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-lg-5 ol-md-5 d-flex justify-content-center">
      <img src="../../../assets/login/reset.svg" alt="" class="img-fluid  clipart">
    </div>

    <div class="col-lg-7 d-flex justify-content-center" *ngIf="!isPasswordReset">
      <div class=" d-flex flex-column gap-4 align-items-center card col-lg-8">
        <div class="card-body">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="col-lg-12 col-md-12  d-flex flex-column px-4">
            <div class="mb-3 sign-in-label">Reset Password</div>
            <div class="mb-3 sign-in-text">Please Reset your New Password</div>
            <div class="instructions">
              <h3>Instructions</h3>
              <ul>
                <li>Password must contain a combination of upper and lower case.</li>
                <li>Password must contain a minimum of 8 characters.</li>
                <li>Password must contain at least one special character.</li>
                <li>Password must contain at least one number.</li>
              </ul>
            </div>
            <div class="mb-3 form-group">
              <label for="password" class="form-control-label" style="font-size:14px; font-weight: 700;">New
                Password</label>
              <div class=" input-fields  d-flex align-items-center"
                [ngClass]="{'is-invalid': newPasswordControl.touched && newPasswordControl.hasError('required') || !passwordsMatch||newPasswordControl.hasError('pattern')||newPasswordControl.hasError('maxlength')||newPasswordControl.hasError('minlength')}">
                <input [type]=" isPasswordVisible ? 'text': 'password'" class="form-control" id="password"
                  placeholder="Enter password" required formControlName="newPassword">
                <img src="\assets\login\Eye.svg" class="img-fluid mx-1" [ngClass]="{' eyebtn-opacity': isPwdEmpty}"
                  *ngIf="!isPasswordVisible" (click)="togglePasswordVisibility()" height="20px" width="20px">
                <img src="\assets\login\Invisible.svg" class="img-fluid mx-1" *ngIf="isPasswordVisible"
                  (click)="togglePasswordVisibility()" height="20px" width="20px">
              </div>
              <div class="invalid-feedback  col-9">
                <span *ngIf="newPasswordControl.touched && newPasswordControl.hasError('required')">
                  New Password is required
                </span>
                <span *ngIf="newPasswordControl.touched && newPasswordControl.hasError('pattern')">
                  New password should be mix of letters, numbers, and specials
                </span>
                <span *ngIf="newPasswordControl.touched && newPasswordControl.hasError('maxlength')">
                  Maximum Length 12
                </span>
                <span *ngIf="newPasswordControl.touched && newPasswordControl.hasError('minlength')">
                  Manimum Length 8
                </span>
              </div>
            </div>

            <div class="mb-3 form-group">
              <label for="confirmPassword" class="form-control-label" style="font-size:14px; font-weight: 700;">Confirm
                New Password</label>
              <div class="input-fields  d-flex align-items-center"
                [ngClass]="{'is-invalid': confirmPasswordControl.touched && confirmPasswordControl.hasError('required')  || !passwordsMatch}">
                <input [type]=" isConfirmPwdVisible ? 'text': 'password'" class="form-control form-control-sm"
                  id="confirmPassword" placeholder="Enter password" required formControlName="confirmPassword"
                  [(ngModel)]="confirmPassword">
                <img src="\assets\login\Eye.svg" class="img-fluid mx-1"
                  [ngClass]="{' eyebtn-opacity': isConfirmPwdEmpty}" *ngIf="!isConfirmPwdVisible"
                  (click)="toggleconfirmPasswordVisibility()" height="20px" width="20px">
                <img src="\assets\login\Invisible.svg" class="img-fluid mx-1" *ngIf="isConfirmPwdVisible"
                  (click)="toggleconfirmPasswordVisibility()" height="20px" width="20px">
              </div>
              <div class="invalid-feedback col-9">
                <span *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')">
                  Confirm Password is required
                </span>
                <span *ngIf="!passwordsMatch && !confirmPasswordControl.hasError('required')">
                  Password doesn't match
                </span>
                <!-- <span  *ngIf="sameAsOldPassword" >
                          Password Should not be a old password
                        </span> -->
                <span *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('pattern')">
                  <div>Conform password should 8, mix of letters, numbers, and specials.</div>
                </span>
              </div>

            </div>


            <button type="submit" [disabled]="!resetForm.valid"
              class="btn button align-items-center col-lg-12 col-md-12 mb-3">Reset Password</button>
          </form>
        </div>
      </div>
    </div>

    <div class="d-flex col-lg-7 col-md-7 flex-column align-items-center mb-3" *ngIf="isPasswordReset">
      <img src="\assets\login\success.svg" class="img-fluid ok ">
      <div class="successmsg">
        <p style="text-align: center;">Password Reset Successfully</p>
      </div>
      <div class="successpara d-flex justify-content-center">
        <p class="col-md-7">Now you can use your New Password to login to your account.</p>
      </div>
      <!-- <div class="button col-md-7"> -->
      <button class="btn button mt-5 col-lg-12 col-md-12 col-12" (click)="navigateToLoginPage()">Login</button>
      <!-- </div> -->
    </div>
  </div>
  <!-- </div> -->
</div>