<div class="container">
    <div class="row">
    <div class="col-lg-8">
        <div class="">Subscriber Management</div>
        <div class="card-wrapper">
        <div class="card p-5">
            <form [formGroup]="subscriberForm">
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="subscriberId" class="form-control-label">Subscriber Id</label>
                            <input type="text" placeholder="Subscriber Id" class="form-control form-control-sm" formControlName="subscriberId"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="firstName" class="form-control-label">First Name</label>
                            <input type="text" placeholder="First Name" class="form-control form-control-sm" formControlName="firstName"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="lastName" class="form-control-label">Last Name</label>
                            <input type="text" placeholder="Last Name" class="form-control form-control-sm" formControlName="lastName"/>
                        </div>
                    </div>
                </div> 
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="aliasName" class="form-control-label">Alias Name</label>
                            <input type="text" placeholder="Alias Name" class="form-control form-control-sm" formControlName="aliasName"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="contactNumber" class="form-control-label">Contact Number</label>
                            <input type="text" placeholder="Contact Number" class="form-control form-control-sm" formControlName="contactNumber"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="address" class="form-control-label">Place/Address</label>
                            <input type="text" placeholder="Place/Address" class="form-control form-control-sm" formControlName="address"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="gender" class="form-control-label">Gender</label>
                            <select type="text" class="form-control form-control-sm" formControlName="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="dob" class="form-control-label">DOB</label>
                            <input type="date" class="form-control form-control-sm" formControlName="dob"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="occupation" class="form-control-label">Occupation</label>
                            <input type="text" placeholder="Occupation" class="form-control form-control-sm" formControlName="occupation"/>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="areaId" class="form-control-label">Area Id</label>
                            <input type="text" placeholder="Area Id" class="form-control form-control-sm" formControlName="areaId"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="accountNumber" class="form-control-label">Account Number</label>
                            <input type="text" placeholder="Account Number" class="form-control form-control-sm" formControlName="accountNumber"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="ifsc" class="form-control-label">IFSC Code</label>
                            <input type="text"placeholder="IFSC Code" class="form-control form-control-sm" formControlName="address"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="upi" class="form-control-label">UPI ID/Number</label>
                            <input type="text" placeholder="UPI ID/Number" class="form-control form-control-sm" formControlName="upi"/>
                        </div>
                    </div>
                </div>
 
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="panNo" class="form-control-label">PAN Card Number</label>
                            <input type="text" placeholder="Pan Card Number" class="form-control form-control-sm" formControlName="panNo"/>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="form-group">
                            <label for="contactNumber" class="form-control-label">Contact Number</label>
                            <input type="text" placeholder="Contact Number" class="form-control form-control-sm" formControlName="contactNumber"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="address" class="form-control-label">Place/Address</label>
                            <input type="text" placeholder="Place/Address" class="form-control form-control-sm" formControlName="address"/>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="aadharNo" class="form-control-label">Aadhar Card Number</label>
                            <input type="text" placeholder="Aadhar Card Number" class="form-control form-control-sm" formControlName="aadharCard"/>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4">
                        <div class="form-group">
                            <label for="aadharCard" class="form-control-label">Aadhar Card</label>
                            <input type="upload" placeholder="choose file to upload" class="form-control form-control-sm" formControlName="aadharCard"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="address" class="form-control-label">Place/Address</label>
                            <input type="text" placeholder="Place/Address" class="form-control form-control-sm" formControlName="address"/>
                        </div>
                    </div>  -->
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="bankName" class="form-control-label">Bank Name</label>
                            <input type="text" placeholder="Bank Name" class="form-control form-control-sm" formControlName="bankName"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="aadharCard" class="form-control-label">Aadhar Card</label>
                            <input type="file" placeholder="choose file to upload" class="form-control form-control-sm file-upload" formControlName="aadharCard"/>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button>View File</button>
                    </div>  
                    <div class="col-lg-2">
                        <button>Remove File</button>
                    </div>  

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="referralClient" class="form-control-label">Referral Clinet</label>
                            <input type="text" placeholder="Referral Client" class="form-control form-control-sm" formControlName="referralClient"/>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-end py-3">
                        <button class="btn btn-outline-secondary" routerLink="/projects/project">Back</button>
                        <button class="btn next-btn" [disabled]="!subscriberForm.valid">Save</button>
                    </div>
                </div>

                
            </form>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    </div>
</div>