<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="row mt-5">
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="col-lg-2 col-md-3 col-sm-12">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content -->
    <div class="col-lg-10 col-md-9 col-sm-12">
      <div class="row">
        <!-- Breadcrumb navigation -->
        <div class="col-lg-12 col-sm-12">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
