<h6 class="mb-4">Purchase History</h6>
<app-ag-grid 
  [columns]="redeemedColumn" 
  [rowData]="purchaseData" 
  width="100%" 
  height="200px" 
  [pageSize]="20"
></app-ag-grid>

<h6 class="my-4">Extra Payments History</h6>
<app-ag-grid 
  [columns]="column" 
  [rowData]="extraData" 
  width="100%" 
  height="200px"
></app-ag-grid>

<!-- Purchase Detail Modal -->
<div *ngIf="isChitShow" class="modal fade show d-block" id="purchaseDetailModel" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">TKN Redeemed Details</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6"><p><strong>Purchased Date:</strong> {{ recDate }}</p></div>
          <div class="col-lg-6"><p><strong>Time:</strong> {{ recTime }}</p></div>
          <div class="col-lg-6"><p><strong>Group ID:</strong> {{ datas?.groupId }}</p></div>
          <div class="col-lg-6"><p><strong>Name:</strong> {{ chitDetail?.subscriberName }}</p></div>
          <div class="col-lg-6"><p><strong>Prized Amount:</strong> {{ chitDetail?.prizedAmount }}</p></div>
          <div class="col-lg-6"><p><strong>Winning Bid:</strong> {{ chitDetail?.winningBid }}</p></div>
          <div class="col-lg-6"><p><strong>Passbook Number:</strong> {{ chitDetail?.passbookNumber }}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Extra Payments Detail Modal -->
<div *ngIf="extraPayments" class="modal fade show d-block" id="extraPaymentsModel" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Extra Payments Details</h5>
        <button type="button" class="btn-close" (click)="closeExtra()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6"><p><strong>Redeemed Date:</strong> {{ recDate }}</p></div>
          <div class="col-lg-6"><p><strong>Time:</strong> {{ recTime }}</p></div>
          <div class="col-lg-6"><p><strong>Group ID:</strong> {{ extraDatas?.groupId }}</p></div>
          <div class="col-lg-6"><p><strong>Name:</strong> {{ extraChitData?.subscriberName }}</p></div>
          <div class="col-lg-6"><p><strong>Prized Amount:</strong> {{ extraChitData?.prizedAmount }}</p></div>
          <div class="col-lg-6"><p><strong>Winning Bid:</strong> {{ extraChitData?.winningBid }}</p></div>
          <div class="col-lg-6"><p><strong>Passbook Number:</strong> {{ extraChitData?.passbookNumber }}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
