<form  [formGroup]="paymentForm">
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="date" class="form-control-label">Date/Timestamp <span class="required" *ngIf="paymentForm.get('date').hasError('required')">*</span></label>
                <input type="date" class="form-control p-2 form-control-sm" id="date" formControlName="date" placeholder="Date"/>
                <div *ngIf="paymentForm.get('date')?.hasError('invalidDate') && paymentForm.get('date')?.touched">
                    <small class="text-danger">Please select today's date.</small>
                  </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="passbooknumber" class="form-control-label">Passbook Number <span class="required" *ngIf="paymentForm.get('passbooknumber').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="passbooknumber" formControlName="passbooknumber" placeholder="Passbook Number"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="groupId" class="form-control-label">Group ID/Chit Details<span class="required" *ngIf="paymentForm.get('date').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="groupId" formControlName="groupId" placeholder="Chit Group ID" readonly/>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="collectionType" class="form-control-label">Collection Type<span class="required" *ngIf="paymentForm.get('collectionType').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="collectionType" formControlName="collectionType" placeholder="Collection Type" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="subscriberId" class="form-control-label">Subscriber ID<span class="required" *ngIf="paymentForm.get('subscriberId').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="subscriberId" formControlName="subscriberId" placeholder="Subscriber ID" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="subscriberName" class="form-control-label">Subscriber Name<span class="required" *ngIf="paymentForm.get('subscriberName').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="subscriberName" formControlName="subscriberName" placeholder="Subscriber Name" readonly/>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="installmentNumber" class="form-control-label">Installment Number<span class="required" *ngIf="paymentForm.get('installmentNumber').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="installmentNumber" formControlName="installmentNumber" placeholder="Installment Number" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="installmentMonth" class="form-control-label">Installment Month<span class="required" *ngIf="paymentForm.get('installmentMonth').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="installmentMonth" formControlName="installmentMonth" placeholder="Installment Month" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="region" class="form-control-label">Route ID<span class="required" *ngIf="paymentForm.get('region').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="region" formControlName="region" placeholder="Region ID" readonly/>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-control-label">Select Staff<span class="required" *ngIf="paymentForm.get('selectStaff').hasError('required')">*</span></label>
                <select class="form-control form-control-sm form-select" formControlName="selectStaff" placeholder="Select Staff">
                <option value="" disabled selected>Staffs</option>
                <option *ngFor="let staff of data" [value]="staff.staffName">{{staff.staffName}}</option>
                </select>
            </div>
            </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="amount" class="form-control-label">Amount<span class="required" *ngIf="paymentForm.get('amount').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="amount" formControlName="amount" placeholder="Amount"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="chitAmount" class="form-control-label">Chit Value<span class="required" *ngIf="paymentForm.get('chitAmount').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="chitAmount" formControlName="chitAmount" placeholder="Chit Value" readonly/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="serialNumber" class="form-control-label">Serial Number<span class="required" *ngIf="paymentForm.get('serialNumber').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="serialNumber" formControlName="serialNumber" placeholder="Serial Number" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="receiptNumber" class="form-control-label">Receipt Number<span class="required" *ngIf="paymentForm.get('receiptNumber').hasError('required')">*</span></label>
                <input class="form-control p-2 form-control-sm" id="receiptNumber" formControlName="receiptNumber" placeholder="Receipt Number" readonly/>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-end py-3">
            <button type="submit" class="btn next-btn px-4 py-3 fw-bold" data-bs-toggle="modal" data-bs-target="#paymentModal" [disabled]="!paymentForm.valid"   (click)="onSubmit()" >Preview Receipt</button>
            <!-- <button type="submit" class="btn next-btn px-4 py-3 fw-bold" (click)="onSubmit()">Preview Receipt</button> -->

        </div>
    </div>
</form>
<!-- PopUp Structure-->
 <div *ngIf="receiptData">
<div class="modal fade" id="paymentModal"  tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="popup-body">
                <div class="text-center pb-2 fs-4 fw-bold">
                    Payment Details
                </div>
                <div class="d-flex justify-content-end py-2">
                    <button class="btn mx-3 btn-success popup-btn" (click)="print()">
                        <img src="../../../assets/popup/printer.svg" alt="" width="20px" height="20px" > Generate Receipt</button>
                    <button class="btn me-3 btn-success popup-btn"  (click)="downloadAsPDF()">
                        <img src="../../../assets/popup/download.svg" alt="" width="20px" height="20px"> Download</button>
                </div>
                <div class="border border-dark" id="print-section">
                    <div class="popup-header">
                        <img src="../../../assets/navbar/brand.svg" alt="" width="100px" height="90px">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="fs-5 fw-bold m-0">Guru Chits Private Limited</p>
                            <span>Payment Receipt for March Month 2023</span>
                        </div>
                    </div>
                    <hr class="border border-dark m-0" >
                    <div class="row py-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Subscriber ID</div>
                            <div class="col-5">{{receiptData.subscriberId}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around" >
                            <div class="col-5 fw-bold">Serial Number</div>
                            <div class="col-5">{{receiptData.serialNumber}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Subscriber Name</div>
                            <div class="col-5">{{receiptData.subscriberName}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Receipt Number</div>
                            <div class="col-5">{{receiptData.receiptNumber}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Group ID</div>
                            <div class="col-5">{{receiptData.groupId}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Route ID</div>
                            <div class="col-5">{{receiptData.region}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Passbook Number</div>
                            <div class="col-5">{{receiptData.passbooknumber}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Staff</div>
                            <div class="col-5">{{receiptData.selectStaff}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Collection Type</div>
                            <div class="col-5">{{receiptData.collectionType}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Amount Paid</div>
                            <div class="col-5">{{receiptData.amount}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-6 fw-bold">Installment Number</div>
                            <div class="col-4">{{receiptData.installmentNumber}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Chit Value</div>
                            <div class="col-5">{{receiptData.chitAmount}}</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Installment Month</div>
                            <div class="col-5">{{receiptData.installmentMonth}}</div>
                        </div>
                        <div class="col-6 d-flex justify-content-around">
                            <div class="col-5 fw-bold">Date of Payment</div>
                            <div class="col-5">{{receiptData.date}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end py-4">
                <button type="button" class="btn next-btn px-4 py-2 fw-bold" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>