.details-card{
    border-top: 100px solid #3E3A97;
 }
 .profile-picture-container {
    border-radius: 50%;
    align-items: left;
    margin-top: -50px;
    margin-left: 30px;
  }
  
  .profile-picture {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: none;
    background-color: #E8E8E8;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    /* border: 2px solid #ccc; */
    background: transparent;
    border-radius: 50%;
  }
  .profile-list-img{
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
  }

  .upload-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    background: transparent;
  
  }
  
  .upload-button img {
    width: 24px;
    height: 24px;
  }
  
  