<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="mt-3 mb-3">
        <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
      </div>
      <div class="card-wrapper">
        <div class="card ps-5 pe-5 mb-2 details-card">
          <!-- <div class="profile-picture-container">
            <div class="profile-picture">
              <img [src]="subscriberDetail?.Subscriber?.profileImageUrl" alt="Profile Picture" class="profile-img ms-2">
              <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
              <button class="upload-button" (click)="fileInput.click()">
                <img src="assets/subscriber/Profile edit.svg " alt="Upload Icon">
              </button>
            </div>
            <h5 class="text-center d-flex align-items-end mb-5">Subscriber Details</h5>
          </div> -->
          <div class="profile-picture-container">
            <div class="profile-picture">
              <div class="profile-container">
                <!-- If Profile Image Exists, Show Image -->
                <img *ngIf="subscriberDetail?.Subscriber?.profileImageUrl" 
                     [src]="subscriberDetail?.Subscriber?.profileImageUrl" 
                     class="rounded-circle align-self-center mb-2" 
                     width="75" height="75" 
                     alt="Subscriber Image">
              
                <!-- If No Image, Show First Letter in a Circle -->
                <div *ngIf="!subscriberDetail?.Subscriber?.profileImageUrl" 
                     class="profile-initial">
                  {{ getFirstLetter(subscriberDetail?.Subscriber?.firstName) }}
                </div>
              </div>
                            <!-- <input type="file" (change)="onFileSelected($event)" hidden #fileInput> -->
              <!-- <button class="upload-button" (click)="fileInput.click()">
                <img src="assets/subscriber/Profile edit.svg " alt="Upload Icon">
              </button> -->
            </div>
          </div>
          <h5 class="text-center title mb-5 fw-semibold">Subscriber Details</h5>
          <div class="row justify-content-around">
            <div class="col-lg-4">
              <h6>Subscriber ID</h6>
              <p style="color: #50A1A5;">{{subscriberDetail?.Subscriber?.subscriberId}}</p>
            </div>
            <div class="col-lg-4">
              <h6>First Name</h6>
              <p>{{subscriberDetail?.Subscriber?.firstName}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Last Name</h6>
              <p>{{subscriberDetail?.Subscriber?.lastName}}</p>
            </div>
          </div>
          <div class="row justify-content-around">

            <div class="col-lg-4">
              <h6>Alias</h6>
              <p>{{subscriberDetail?.Subscriber?.aliasName}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Contact Number</h6>
              <p>{{subscriberDetail?.Subscriber?.contact}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Secondary Contact Number</h6>
              <p>{{subscriberDetail?.Subscriber?.SecContact}}</p>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-4">
              <h6>Place/Address</h6>
              <p>{{subscriberDetail?.Subscriber?.place}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Gender</h6>
              <p>{{subscriberDetail?.Subscriber?.gender}}</p>
            </div>
            <div class="col-lg-4">
              <h6>DOB</h6>
              <p>{{subscriberDetail?.Subscriber?.dob}}</p>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-4">
              <h6>Occupation</h6>
              <p>{{subscriberDetail?.Subscriber?.occupation}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Route ID</h6>
              <p style="color: #50A1A5;">{{subscriberDetail?.Subscriber?.routeId}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Account Number</h6>
              <p>{{subscriberDetail?.Subscriber?.accountNumber}}</p>
            </div>
         
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-4">
              <h6>IFSC Code</h6>
              <p>{{subscriberDetail?.Subscriber?.ifsc}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Bank Name</h6>
              <p>{{subscriberDetail?.Subscriber?.bankName}}</p>
            </div>
            <div class="col-lg-4">
              <h6>UPI ID/Number</h6>
              <p>{{subscriberDetail?.Subscriber?.upi_id}}</p>
            </div>
           
          </div>
          <div class="row">
            <div class="col-lg-4">
              <h6>PAN Card Number</h6>
              <p>{{subscriberDetail?.Subscriber?.panCardNumber}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Aadhaar Card Number</h6>
              <p>{{subscriberDetail?.Subscriber?.aadharNumber}}</p>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-4 d-flex flex-column">
              <h6>PAN Card</h6>
              <button (click)="viewFile(subscriberDetail?.Subscriber?.panUrl)" class="viewBtn">View File</button>
              <small *ngIf = "!subscriberDetail?.Subscriber?.panUrl" style="color: red;">No file Present </small>

            </div>
            <div class="col-lg-4 d-flex flex-column">
              <h6>Aadhaar Card</h6>
              <button (click)="viewFile(subscriberDetail?.Subscriber?.aadharUrl)" class="viewBtn">View File</button>
              <small *ngIf = "!subscriberDetail?.Subscriber?.aadharUrl" style="color: red;">No file Present </small>

            </div>
            <div class="col-lg-4 d-flex flex-column">
              <h6>Passbook</h6>
              <button (click)="viewFile(subscriberDetail?.Subscriber?.passbookUrl)" class="viewBtn">View File</button>
              <small *ngIf = "!subscriberDetail?.Subscriber?.passbookUrl" style="color: red;">No file Present </small>

            </div>
          </div>
          <div class="row pt-4">
            <!-- <div class="col-lg-4">
              <h6>Referral Client</h6>
              <p>{{subscriberDetail?.Subscriber?.referralClient}}</p>
            </div> -->
            <div class="col-lg-4">
              <h6>Referral Client</h6>
              <p (click)="navigate(subscriberDetail?.Subscriber?.referralClientId)" 
                 style="color: #50A1A5; cursor: pointer; text-decoration: underline;">
                {{ subscriberDetail?.Subscriber?.referralClient }}
              </p>
            </div>
            
          </div>
          <h5>Nominee Details</h5>
          <div class="row justify-content-around">
            <div class="col-lg-4">
              <h6>Nominee Name</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeName}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Nominee Relationship</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeRelationship}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Nominee Address</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeAddress}}</p>
            </div>
          </div>
          <div class="row justify-content-around">

            <div class="col-lg-4">
              <h6>Nominee Occupation</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeOccupation}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Nominee Gender</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeGender}}</p>
            </div>
            <div class="col-lg-4">
              <h6>Nominee Aadhaar Number</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeAadhar}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <h6>Nominee DOB</h6>
              <p>{{subscriberDetail?.Subscriber?.nomineeDOB}}</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-10 d-flex justify-content-end mb-4">
              <button class="btn edit-btn m-2" *ngIf="canEdit" (click)="edit(subscriberDetail.Subscriber._id)">Edit</button>
              <button class="btn edit-btn m-2" (click)="openConfirmationModal(subscriberDetail.Subscriber._id)">Delete</button>

            </div>
            
            
          </div>
          <div class="enroll-card p-2 mb-3">
            <div class="text-center">
              <h6 class="text-danger fs-11">Total Amount Outstanding</h6>
              <div class="text-danger fs-8">₹ {{totalAmountOutstanding}}</div>
            </div>
          </div>
          <h6><strong>Enrollments</strong></h6>
          <div class="payments" *ngFor="let group of chitGroup; let i = index">
            <div class="text-center group-name">
              <h6>{{ group?.chitGroupId}}</h6>
              <h6>{{group?.passbookNo}}</h6>
            </div>
            <div class="row justify-content-center" *ngIf="group?.chitAuc">
              <div class="enroll-card col-4 p-2 m-4">
                <h6>Prized Amount</h6>
                <p>₹ {{group.chitAuc?.prizedAmount}}</p>
              </div>
              <div class="enroll-card col-4 p-2 m-4">
                <h6>Winning Bid</h6>
                <p>₹ {{group?.chitAuc?.winningBid}}</p>
              </div>
              <div class="enroll-card col-4 p-2 m-4">
                <h6>Collection Type</h6>
                <p>{{group?.collectionType}}</p>
              </div>
            </div>
            <button class="pay-his py-1 toggle mb-3 me-2" type="button" *ngIf="paymentData"
              (click)="getByPassbook(group.passbookNo, i)">
              Payment History
              <img *ngIf="selectedIndex != i" src="assets/subscriber/down arrow.svg">
              <img *ngIf="selectedIndex === i" src="assets/subscriber/right arrow.svg" alt="">
            </button>
            <div *ngFor="let payment of paymentData">
              <div class="full-card m-4 p-2" *ngIf="selectedIndex === i">
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <h6 class="mb-1">Receipt No</h6>
                    <p>{{payment?.receiptNumber}}</p>
                  </div>
                  <div class="col-md-2">
                    <h6 class="mb-1">Installment Month</h6>
                    <p>{{payment?.installmentMonth}}</p>
                  </div>
                  <div class="col-md-2">
                    <h6 class="mb-1">Installment Number</h6>
                    <p>{{payment?.installmentNo}}</p>
                  </div>
                  <div class="col-md-2">
                    <h6 class="mb-1">Date</h6>
                    <p>{{payment?.date }}</p>
                  </div>
                  <div class="col-md-2">
                    <h6 class="mb-1">Amount</h6>
                    <p>₹ {{payment?.amount}}</p>
                  </div>
                  <div class="col-md-2">
                    <h6 class="mb-1">Group ID</h6>
                    <p>{{payment?.groupId}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let group of chitGroup" class="full-card m-4 p-2">
            <div>
              <h6>Enrollment History</h6>

              <div class="text-slef-right">
              </div>
              <h6 class="text-center chit-name">{{group.chitGroupId}}</h6>
            </div>
            <div class="row align-center">
              <div class="col-md-3">
                <h6 class=" mb-2">Prized Amount</h6>
                <p>₹ {{group.prizedAmount}}</p>
              </div>
              <div class="col-md-3">
                <h6 class=" mb-2">Winning Bid</h6>
                <p>₹ {{group.winningBid}}</p>
              </div>
              <div class="col-md-3">
                <h6 class=" mb-2">Collection Type</h6>
                <p>{{group.collectionType}}</p>
              </div>
              <div class="col-md-3 mb-2">
                <p class="text-danger mb-2">Amount Outstanding</p>
                <p class="text-danger">{{group.balance}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card p-3">
        <h5 class="text-center my-2">Subscribers</h5>
        <div class="search-bar align-self-center my-2">
          <span class="search-icon">
            <img src="assets/subscriber/search-icon.svg" />
          </span>
          <input width="20" height="20" type="text" placeholder="Search" (input)="applyFilter($event.target.value)" />
        </div>
        <table class="table-card mx-3">
          <tbody>
            <tr *ngFor="let subscriber of displayedSubscribers">
              <div class="view-all my-2">
                <div class="align-self-center">
                  <div class="row click" (click)="getSub(subscriber.id)">
                    <div class="col-4 text-center">
                      <div class="profile-container">
                <!-- If Profile Image Exists, Show Image -->
                <img *ngIf="subscriber.subscriberProfile" 
                     [src]="subscriber.subscriberProfile" 
                     class="rounded-circle align-self-center mb-2" 
                     width="75" height="75" 
                     alt="Subscriber Image">
              
                <!-- If No Image, Show First Letter in a Circle -->
                <div *ngIf="!subscriber.subscriberProfile" 
                     class="profile-initial">
                  {{ getFirstLetter(subscriber.subscriberName) }}
                </div>
              </div>
                    </div>
                    <div class="col-8 text">
                      <h6 class="pe-auto">
                        <strong>{{ subscriber.subscriberName }}</strong>
                      </h6>
                      <p>{{ subscriber.subscriberId }}</p>
                    </div>
                  </div>
                  <div *ngIf="selectedSubscriberId === subscriber.id" class="subscriber-details">
                    <p><strong>Details for {{ subscriber.subscriberName }}</strong></p>
                    <p>More information...</p>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
        <button *ngIf="!showAll" class="btn align-self-center view" (click)="viewMore()">View More</button>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade show" tabindex="-1" role="dialog" [ngClass]="{'d-block': isConfirmationModalOpen}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you Sure?</h5>
        <!-- <button type="button" class="close" aria-label="Close" (click)="closeConfirmationModal()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body text-center" >
        <p>Are you sure you want to delete<strong></strong>?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="cancel()">No</button>

      </div>
    </div>
  </div>
</div>