.table{
    font-size: 14px;
}

.btn2{
    background-color: #F04438;
    border:none;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 10px;
}
.btn1{
  background-color: transparent;
  border:1px solid #3E3A97;
  color: #3E3A97;
  border-radius: 4px;
  margin-right: 10px;
}