<div>
    <div class="nav py-3" role="tablist">
        <div class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" href="#home">Payment</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#menu1">Collection</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" href="#menu2">Transaction</a>
        </div>
    </div>
    <div class=" container-fluid">
        <div class="card-wrapper">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div id="home" class="container tab-pane active"><br>
                          <app-payments></app-payments>
                        </div>
                        <div id="menu1" class="container tab-pane fade"><br>
                          <app-collections></app-collections>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                          <app-transactions></app-transactions>
                        </div>
                    </div>
                </div>
                <app-ag-grid [columns]="columns" [rowData]="rowData" class="px-3" width="100%" height="500px"></app-ag-grid>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-title">
        Payment Details
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                Date/Timestamp
            </div>
            <div class="col">
                09.01.2023
            </div>
        </div>
    </div>
</div>