<div class="container-fluid" *ngIf="!verified">
  <div class="row d-flex">
    <div class="col-lg-1 col-md-1 align-self-center">

    </div>
    <div class="col-lg-4 col-md-4 align-self-center">
      <img src="../../../assets/login/Forgot password.svg" alt="" class="img-fluid  clipart">
    </div>

    <div class="col-lg-7 col-md-7 align-self-center">
      <div class="d-flex flex-column gap-4 align-items-center ">

        <div class="card-title">
          <img src="\assets\login\login logo.svg" alt="" class="img-fluid logo">
        </div>
        <div class="card col-lg-6 col-md-7  d-flex p-0 flex-column">
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" class="col-lg-12 col-md-12 d-flex flex-column px-4">
              <div class="mt-4 mb-3 pl-0 sign-in-label">Forgot Your Password?</div>
              <div class="mt-3 mb-3 pl-0 sign-in-text">Enter your Employee Id Associted with your mobile Number</div>

              <div class="form-group mb-5 mt-4">
                <!-- <label for="employeeId" class="form-control-label">employeeId</label> -->
                <input type="employeeId" class="form-control" id="employeeId" placeholder="Enter Employee ID"
                  name="employeeId" formControlName="employeeId"
                  [ngClass]="{ 'is-invalid': employeeIdControl.touched && employeeIdControl.invalid}">

                <div class="invalid-feedback">
                  <span *ngIf="employeeIdControl.hasError('required')">Employee Id is Required</span>
                  <span *ngIf="employeeIdControl.hasError('pattern')">Please Enter the registered employeeId id</span>
                </div>
              </div>
              <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn button col-lg-12 col-md-12 mb-3"
                (click)="onSubmit()">Reset Password</button>
              <div class="mb-4 back text-center">
                <div routerLink="/login">Back to Login</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="verified">
  <app-verify [mobileNumber]="mobileNumber" [employeeId]="employeeId" [reset]="reset"></app-verify>
</div>