<label class="head-text mt-3 ms-2">
    Collection Type
</label>
<div class="container">
<div class="row d-flex lg12 mx-3 my-3">
    <label class="head-text mb-3">
        Create Collection Type
    </label>

    <form class="form row d-flex" [formGroup]="reactiveForm">
        <label class="form-check-label normalText mb-2">Collection Name </label>
        <input class="form-control ms-2 me-2" type="text" placeholder="Monthly" formControlName="collectionType">
        <label class="form-check-label normalText mt-3 mb-2">Collection Description </label>
        <input class="form-control ms-2 me-2" type="text" placeholder="Enter Description" formControlName="collectionDescription">
        <button type="submit" class="btn buttoncreate align-items-center ms-2 me-2 mb-3 mt-3" (click)="submit()">Create Collection</button>
        <button type="submit" class="btn button align-items-center ms-2 me-2 mb-3" (click)="cancel()">Cancel</button>
    </form>

    <app-ag-grid [columns]="collectioncolumn" [rowData]="data"   width="100%" height="280px" [searchImg]="searchImg" [filterImg]="filterImg" [search]="search"></app-ag-grid>
    
</div>
</div>