<!-- <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="transactionForm">
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="fromDate" class="form-control-label">From Date</label>
                <input type="date" class="form-control p-2 form-control-sm" id="fromDate" formControlName="fromDate"/>
                <div *ngIf="transactionForm.get('fromDate')?.hasError('invalidDate') && transactionForm.get('fromDate')?.touched">
                    <small class="text-danger">Please select valid date.</small>
                  </div>

                </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="toDate" class="form-control-label">To Date</label>
                <input type="date" class="form-control p-2 form-control-sm" id="toDate" formControlName="toDate"/>
                <div *ngIf="transactionForm.get('toDate')?.hasError('invalidDate') && transactionForm.get('toDate')?.touched">
                    <small class="text-danger">Please select valid date.</small>
                  </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-control-label">Route ID</label>
                <select class="form-control p-2 form-control-sm " formControlName="routeId">
                <option value="" disabled selected>Route ID</option>
                <option *ngFor="let route of routes" [value]="route.routeId">{{route.routeId}}</option>
            </select>
            </div>
        </div>

    </div>
    <div class="row justify-content-around">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-control-label">Collection Type</label>
                <select class="form-control p-2 form-control-sm " formControlName="collectionType">
                <option value="" disabled selected>Collection Type</option>
                <!-- <option value="monthly">monthly</option>
                <option value="daily">daily</option> -->

                <option *ngFor="let collection of collectionTypes" [value]="collection.collectionType">{{collection.collectionType}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="collectionAmount" class="form-control-label">Collection Type Count</label>
                <input class="form-control p-2 form-control-sm" id="collectionAmount" formControlName="collectionTypeCount" placeholder="Collection Type Count" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="amountCollected" class="form-control-label"> Collection Type Amount</label>
                <input class="form-control p-2 form-control-sm" id="amountCollected" formControlName="collectionTypeAmount" placeholder="Collection Type Amount" readonly/>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="balanace" class="form-control-label">Total Serial Number Count </label>
                <input class="form-control p-2 form-control-sm" id="balance" formControlName="totalSerialNumberCount" placeholder="Total Serial Number Count" readonly/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="serialNumCount" class="form-control-label">Grand Total Amount</label>
                <input class="form-control p-2 form-control-sm" id="serialNumCount" formControlName="grandTotalAmount" placeholder="Grand Total Amount" readonly/>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-end py-3">
            <button class="btn clear-btn px-4 py-3 me-4" (click)="clear()">Clear Filter</button>
            <button class="btn next-btn px-4 py-3 fw-bold" (click)="exportToExcel()" [disabled]="!transactionForm.valid">Download Summary</button>
        </div>
    </div>
</form>
<div id="print-section">
    <app-ag-grid  [columns]="column" [rowData]="data" 
    class="px-3 mb-3" [searchImg]="searchImg" [filterImg]="filterImg" width="100%" height="340px" 
    [pageSize]="7" [search]="search" [filter]="filter">
    </app-ag-grid>
    
</div>
