  
    .form-control {
      color: black;
      background-color: #FAFAFA;
      border:1px solid #B8B8B8;
      margin-bottom: 8px;
      /* text-align: center; */
      gap: 0px;
      border-radius: 5px;
      opacity: 0px;
        
  .eyebtn-opacity{
    pointer-events: none;
    
  }
      &.is-invalid {
        border-color: red;
      }
    }
  

  .nxt-btn{
    background-color: #3E3A97;
    color: white;
    border-radius: 3px;
      }

      .form-group .form-control:focus {
        outline: none;
        box-shadow: none;
      }