.bold-text{
    size: 14px;
    color: #1A1A1A;
    font-weight: 700;
}

.btn{
    background-color: #3E3A97;
    color:#FFFFFF;
    border-radius: 3px;
    padding:5px
    /* width: 184px; */
}
.btn1{
    background-color: transparent;
    border:1px solid #3E3A97;
    color: #3E3A97;
    border-radius: 5px;
    margin-right: 10px;
}

.head-text{
   font-size: 20px;
    color: #1A1A1A;
    font-weight: 700;
}

.btn2{
    background-color: #F04438;
    color: #FFFFFF;
    border-radius: 4px;
    /* margin-right: 10px; */
    border: none;
}

.simple-text{
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 400;
    color:#0B0B0B;
}
.switch-design{
    margin-left: 10px;
}

.search-bar {
    margin-bottom: 20px;
  }
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #ECEBF5;
    border: none;
    padding: 5px;
    border-radius: 10px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    background-color: #ECEBF5;
    padding: 5px;
    flex-grow: 1;
    height: 20px;
  } 
.detail{
    height:650px;
    margin-bottom: 10px;
}
.invalid-feedback {
    color: red;
    display: block;
  }
  
  .form-control.ng-invalid.ng-touched {
    border-color: red;
  }
  .click{
    cursor: pointer;
  }
  .form-group .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  .scroll-container {
    max-height: 400px; /* Set the height limit */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .table-card {
    width: 100%;
    table-layout: auto;
  }