<div class = "container-fluid">
    <div class = "row d-flex ">

        <!-- <div [ngClass]="{'col-md-8 col-lg-8': regionDetail,'col-md-8 col-lg-8': !regionDetail}"> -->
           <div class = "d-flex col mt-2">
            <div class = "d-flex col">
                <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
            </div>
            <div class = "d-flex col justify-content-end">
                <button  routerLink="routecreate" class="btn">Create New Route</button>
            </div>
           </div>
           <div class="d-flex col ">
            <form class="form" [formGroup]="regionForm">
            <div class="d-flex row form-group mt-5 mb-5">
                <div class="col-lg-4">
                    <label class="simple-text">Region Name</label>
                    <input class = "form-control" placeholder="Enter your region" formControlName="regionName"> 
                    <div *ngIf="regionForm.get('regionName').touched && regionForm.get('regionName').invalid">
                        <small *ngIf="regionForm.get('regionName').errors?.required" class="text-danger">Region Name is required.</small>
                        <small *ngIf="regionForm.get('regionName').errors?.pattern" class="text-danger">Region Name must start with a capital letter and contain only alphabetic characters.</small>
                      </div>   
                </div>
            <div class="col-lg-4">
                <label class="simple-text">Region ID</label>
                <input class = "form-control" placeholder="Enter your Region ID" formControlName ="regionId">
                <div *ngIf="regionForm.get('regionId').touched && regionForm.get('regionId').invalid">
                    <small *ngIf="regionForm.get('regionId').errors?.required" class="text-danger">Region ID is required.</small>
                    <small *ngIf="regionForm.get('regionId').errors?.pattern" class="text-danger">Region ID must be exactly 3 capital letters.</small>
                  </div>
            </div>
            <div class="col-lg-4">
                <label class="simple-text">Region Description</label>
                <input class = "form-control" placeholder="Region Description" formControlName="regionDesc">
                <div *ngIf="regionForm.get('regionDesc').touched && regionForm.get('regionDesc').invalid">
                    <small *ngIf="regionForm.get('regionDesc').errors?.minlength" class="text-danger">Route Description must be at least 10 characters long.</small>
                    <small *ngIf="regionForm.get('regionDesc').errors?.maxlength" class="text-danger">Route Description must be no more than 100 characters long.</small>
                    <small *ngIf="regionForm.get('regionDesc').errors?.pattern" class="text-danger">Route Description can only contain letters, numbers, spaces, and common punctuation.</small>
                  </div>
            </div>
        </div>
        </form>
      </div>
      <div class="col d-flex">
        <div class="form-check form-switch switch-design">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Status of the Region</label>
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn1">Cancel</button>
        <button class="btn" type="submit" (click)="onSubmit()">Save</button>
      </div>
      <app-ag-grid [columns]="column" [rowData]="data" width="100%" height="300px"></app-ag-grid> 
   
    </div>
     
     <div class="col-lg-4 d-flex mb-4">
     <div *ngIf="regionDetail">  
        <div class="card ">
            <div class="card-body">
                    <h6 class="text-center">Region details</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Region ID</td>
                                <td>{{regionDetail.Region.regionId}}</td>
                            </tr>
                            <tr>
                                <td>Region Name</td>
                                <td>{{regionDetail.Region.regionName}}</td>
                            </tr>
                            <tr>
                                <td>Region Description</td>
                                <td>{{regionDetail.Region.regionDesc}}</td>
                            </tr>
                            <tr>
                                <td>Region Status</td>
                                <td>
                                    {{regionDetail.Region.status ? 'Active' : 'InActive' }}
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                <div class="botton-div d-flex justify-content-center">
                    <button class="btn1" (click)="edit(regionDetail.Region._id)">Edit</button>
                    <button class="btn2">Delete</button>
                </div>
             
            </div>
          
        </div>

     </div>  
     </div>
     <div class="col-lg-4">
        <div *ngIf="regionId">
        <div class="card d-flex p-3">
            <h5 class="text-center my-2 fs-4 fw-bold my-4">Regions</h5>
            <div class="search-bar align-self-center">
                <span class="search-icon"><img src="assets/subscriber/search-icon.svg"></span>
                <input width="20" height="20" type="text" placeholder="Search" (input)="applyFilter($event.target.value)">
              </div>
            <table class="table-card mx-3">
              <tbody>
                <tr *ngFor="let region of displayedRegion">
                <div class="view-all my-2">
                  <div class="align-items-center">
                    <div class="row border d-flex py-3 rounded-1 shadow-sm">
                        <div class="col-6">
                          <h6><strong>Region ID</strong></h6>
                          <p class="m-0">{{region.regionId }}</p>
                        </div>
                        <div class="col-6">
                            <h6><strong>Region Name</strong></h6>
                            <p class="m-0">{{ region.regionName }}</p>
                        </div>  
                    </div>
                  </div>
                </div>
                </tr>
              </tbody>
            </table>
            <button class="btn1 align-self-center view-btn mt-3 px-5">View More</button>
          </div>
     </div>
    </div>

</div>
