.icons{
    height: 60px;
    width: 60px;
}
.auction{
    background-color: #eef6f6;
    cursor: pointer;
}
.view-btn{
    color: #3E3A97;
    background-color: #FFFFFF;
    border-color: #3E3A97;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #ECEBF5;
    border: none;
    padding: 5px;
  
  }
  
  .search-bar input {
    /* border: none;*/
    outline: none;
    background-color: #ECEBF5;
    padding: 3px;
    flex-grow: 1;
    height: 20px;
    width: 80%;
  }
  