<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div [ngClass]="{'col-md-8 col-lg-8': staffDetail, 'col-md-12 col-lg-12': !staffDetail}">
      <div class="mt-3">
        <app-breadcrumb [data]="breadcrumsData"></app-breadcrumb>
        <button class="btn btn-primary create" *ngIf="canCreate" routerLink="create">Create New Staffs</button>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4">
          <div class="line text-center mb-4">
            <h5 class="card-title">Total Staffs</h5>
            <p class="card-text">{{totalCount}}</p>
          </div>
        </div>
      </div>
      <app-ag-grid [columns]="column" [rowData]="data" [searchImg]="searchImg" [filterImg]="filterImg" [search]="search"
        [pageSize]="7" [filter]="filter" width="100%" height="450px"></app-ag-grid>
    </div>
    <div class="col-md-4 col-lg-4 mt-2">
      <div *ngIf="staffDetail">
        <div class="card details">
          <div class="title align-self-center py-2">Staff Details</div>
          <img src="{{staffDetail.Staff.profileUrl}}" class="rounded-circle  align-self-center mb-2" width="75"
            height="75" alt="Staff Image">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Employee ID </strong></td>
                <td style="color: #50A1A5;">{{staffDetail.Staff.employeeId}}</td>
              </tr>
              <tr>
                <td><strong>First Name </strong></td>
                <td>{{staffDetail.Staff.firstName}}</td>
              </tr>
              <tr>
                <td><strong>Last Name </strong></td>
                <td>{{staffDetail.Staff.lastName}}</td>
              </tr>
              <tr>
                <td><strong>Contact No</strong></td>
                <td>{{staffDetail.Staff.contact}}</td>
              </tr>
              <tr>
                <td><strong>Role</strong></td>
                <td>{{staffDetail.Staff.role}}</td>
              </tr>
              <tr>
                <td><strong>BGV Status</strong></td>
                <td *ngIf="staffDetail.Staff.bgVerification" style="color:#12B76A">Verified</td>
                <td *ngIf="!staffDetail.Staff.bgVerification" style="color:#F04438">Un Verified</td>
              </tr>
              <tr>
                <td><strong>Working Status</strong></td>
                <td *ngIf="staffDetail.Staff.workingStatus" style="color:#12B76A">Active</td>
                <td *ngIf="!staffDetail.Staff.workingStatus" style="color:#F04438">InActive</td>
              </tr>
              <tr>
                <td><strong>Route ID</strong></td>
                <td style="color: #50A1A5">{{staffDetail.Staff.routeId}}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center mb-3">
            <button *ngIf="canView" (click)="navigate(staffDetail.Staff._id)" class="btn  view">View More
              Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>