@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit';
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.body .cta-filled {
    color: #3E3A97;
    background-color: #FFFFFF;
    border-color: #3E3A97;
}

.body .cta-unfilled {
    background-color: #3E3A97;
    color: #FFFFFF;
}

.toast-top-right {
  top: 80px !important;
  right: 50px !important;           
}
