<div class = "row d-flex ml-3 ">
    <div class = "col-lg-8">
       <div class = "d-flex col mt-2">
        <div class = "d-flex col ">
            <label class = "bold-text"> Route Manager</label>
        </div>
        <div class = "col d-flex justify-content-end">
            <button routerLink="regioncreate"   class="btn">Create New Region</button>
            <button routerLink="areacreate"  class="btn">Create New Route</button>
        </div>
        
       </div>
       <div class="col col-lg-4 d-flex custom-card">
        
    </div>
       </div>
       </div>

