<div class="container">
  <div class="d-flex">
    <div class="d-flex flex-column col-lg-4 mt-2 ms-3 mb-3" style="width: 259px; height: 100vh;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link customText" [ngClass]="{'active-item': isActive('Privacy')}" routerLink="privacy"
          (click)="selectItem('Privacy')">
          <img [src]="isActive('Privacy') ? privacyActive : privacy" class="me-2">
            Privacy
          </a>
        </li>

        <li>
          <a class="nav-link customText" [ngClass]="{'active-item': selectedItem === 'Collection Type'}"
            routerLink="collection-type" (click)="selectItem('Collection Type')"><img
              [src]="isActive('Collection Type') ? collectiontypeActive : collectiontype" class="me-2">Collection
            Type</a>
        </li>

        <li>
          <a class="nav-link customText" [ngClass]="{'active-item': selectedItem === 'Reason For Deletion'}"
            routerLink="reason-deletion" (click)="selectItem('Reason For Deletion')"><img
              [src]="isActive('Reason For Deletion') ? trashActive : trash" class="me-2">Reason for Deletion</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-8">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

